[Unit]
Description=Roomba Rover Server Script
After=network.target

[Service]
WorkingDirectory=/home/pi/RoombaRover
ExecStart=/usr/bin/node server.js
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target